@import "tailwindcss" source(".");


.main-title {
font-size: 7vh;
font-weight: bolder;
text-align: center;
color: #DAAD44
}


.organization{
  font-size: 3vh;
  text-align: center;
  padding: 5px;
  display:block;
  width: 100%;
}
